[Desktop Entry]
Encoding=UTF-8
Name=Link to evernote_logo_center_4c-lrg.png
Type=Link
URL=http://evernote.com/media/img/logos/evernote_logo_center_4c-lrg.png
Icon=image-png
